html,body,.container-fluid,.content{
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.container-fluid{
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
}
.top{
	font-size: 20px;
	font-weight: bold;
	padding: 0.5em;
	/*background-color: green;*/
	box-shadow: 5px  5px 5px  #ededed;

}
.top .col-2{
	text-align: center;
	margin: 0 !important;
}
.top .col-7{
	padding: 15px;
}
.top .col-3{
	text-align: center
}
.top .col-3>i{
   font-size: 40px;
}
#index{
	font-size: 20px;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
    /*padding-left: 20px;*/
    text-align: left;
}
.icon-jiazhengxitongguanli{
	font-size: 28px !important;
	margin-right: 10px;
}
.left{
	/*background-color: #b3d465;*/
	margin-right: 0 !important;
}
.right{
	margin: 0 !important;
	padding-left: 1em !important;	

}
.left ul > li{
	text-align: center;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ededed;
	cursor: pointer;
	font-size: 18px;
}
ul > li >p{
  margin: 0 !important;
  padding: 0 !important;
}
#wrapper{
	margin: 1em;
	border-radius: 4px;
	background-color: #ffffff;
	padding: 1em;
}
.current{
	background-color: #ededed;
	color: #b3d465;
}
